.group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(96, 102, 96);
  border: 1px solid rgb(187, 188, 95);
  height: 44px;
  width: 160px;
}

.group img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.group > {
  margin-left: 10px;
}

.group button {
  height: 24px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 1px rgba(255, 228, 228, 0.09);
  border: none;
  transition: 0.2s ease-out;
}

.group button:active {
  transform: scale(0.97);
  color: blueviolet;
}
